@charset "UTF-8";
@import "bootstrap";

body {
    padding-top: 100px;
}

.topics {
    &__title {
        color: $primary;
        &:hover {
            color: blue;
        }
    }
    &__detail {
      text-align: justify;
    }
}